/*
 * THEMETWO
 *
 * Stylesheet
 *
 * slide in panel bookmarks
 *
 * form styles courtesy of
 *      http://callmenick.com/post/various-css-input-text-styles
 *
 *  Using Microsoft colour palette to make things easier.
 *
 */
/*
 * GLOBAL STYLES
 */
/* green */
.background1{
    background-color:#7CBB00;
}
/* yellow */
.background2{
    background-color:#FFBB00;
}
/* blue */
.background3{
    background-color:#00A1F1;
}
/* red */
.background4{
    background-color:#F65314;
}
/*
 * PANELS
 */
.icon{
    font-size:8rem;
    position:relative;
    top:50%;
    transform:translateY(-50%);
}
.panel{
    padding-top:15px;
    text-align:center;
    height:50%;
    box-sizing:border-box;
    z-index:1;
    position:absolute;
    transition-property:transform;
    transition-duration:1s;
}
.panel ul li:first-of-type{
    font-size:2rem;
    text-decoration:underline;
}
.panel ul{
    list-style-type:none;
    padding:0;
}
.panel ul li{
    padding:5px 0;
    font-size:1.1rem;
}
/*
 * HEADER
 */
header{
    top:0;
    left:0;
    position:absolute;
    height:50%;
    margin:auto;
}
#header-left, #header-right{
    height:100%;
}
#panel-top-left, #panel-top-right{
    top:0;
}
#panel-top-left{
    position:fixed;
    left:0;
    transform:translateX(-100%);
}
#panel-top-right{
    position:fixed;
    right:0;
    transform:translateX(100%);
}
#panel-top-left:target, #panel-top-right:target{
    transform:translateX(0);
}
/*
 * FORM/CLOCK
 */
#main-col{
    position:absolute;
    margin:0;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:2;
}
#time{
    font-size:4rem;
    margin:0;
}
.searchForm input[type="text"]{
    display:block;
    margin:0 auto;
    width:50%;
    font-family:sans-serif;
    font-size:1.2em;
    appearance:none;
    box-shadow:none;
    border-radius:none;
    box-sizing:border-box;
    transition:all .7s;
}
.searchForm input[type="text"]:focus{
    outline:none;
    width:100%;
}
.searchForm span:hover{
    cursor:pointer;
}
.style2 input[type="text"]{
    padding:10px;
    border:5px solid #000;
    border-radius:15px;
}
#searchEngineList{
    margin:0;
    background-color:#fff;
    padding:15px !important;
    font-size:1.1em;
    list-style-type:none;
    border:5px solid #000;
    border-radius:15px;
    box-sizing:border-box;
    -moz-column-count:2;
    -moz-column-rule-style:solid;
}
#searchEngineList li{
    margin:5px 0;
}
#searchEngineList li a{
    font-weight:normal;
}
/*
 * FOOTER
 */
footer{
    bottom:0;
    left:0;
    position:absolute;
    height:50%;
    margin:auto;
}
#footer-left, #footer-right{
    height:100%;
}
#panel-bottom-left, #panel-bottom-right{
    bottom:0;
}
#panel-bottom-left{
    position:fixed;
    left:0;
    transform:translateX(-100%);
}
#panel-bottom-right{
    position:fixed;
    right:0;
    transform:translateX(100%);
}
#panel-bottom-left:target, #panel-bottom-right:target{
    transform:translateX(0);
}
